body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1b1b2f;
    color: #eaeaea;
}
header, footer {
    background-color: #101020;
    color: #eaeaea;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
header h1, footer p {
    margin: 0;
}
#main-container {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 140px);
}
#sidebar {
    width: 280px;
    background-color: #252546;
    color: #eaeaea;
    padding: 20px;
    border-right: 2px solid #333355;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
}
#sidebar h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #8faaff;
}
nav a {
    display: block;
    color: #eaeaea;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #343455;
    transition: background-color 0.3s, transform 0.3s;
}
nav a:hover {
    background-color: #8faaff;
    color: #252546;
    transform: scale(1.05);
}
#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.content-section {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}
.dashboard-data {
    display: flex;
    justify-content: space-around;
    background: #2a2a5a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.data-item {
    text-align: center;
}
.data-item h3 {
    margin: 10px 0;
    color: #8faaff;
}
.data-item p {
    font-size: 1.5em;
    font-weight: bold;
    color: #eaeaea;
}
.chart-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.chart-item {
    flex: 1;
    background: #2a2a5a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5);
}
footer p {
    margin: 0;
    font-size: 0.9em;
}
.chart-item h3 {
    margin-bottom: 10px;
    color: #8faaff;
    font-size: 1.2em;
}
#alerts-content p {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#map{
    width: 100%;
    height: 600px;
    position: relative;
}